.heystack {
  background: linear-gradient(
    205deg,
    #1896bd 11.59%,
    #542de8 35.77%,
    #ec276e 59.95%,
    #d75a00 84.12%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 1cm;
}
